<div class="wrapper">
  {{power-select-places selectedPlace=selected allowClear=true}}

  <p>
    Street address: {{input value=selected.streetNumber}} {{input value=selected.route}}
  </p>

  <p>
    City {{input value=selected.city}}
  </p>
  <p>
    State {{input value=selected.locality}}
  </p>
  <p>
    Area: {{input value=selected.administrative_area_level_1}}
  </p>
  <p>
    Zip code {{input value=selected.zipcode}}
  </p>
  <p>
    Country {{input value=selected.country}}
  </p>
</div>
