<div class="wrapper">
  {{power-select-places selectedPlace=selected allowClear=true}}
  <p>
    <strong>Steet nr.:</strong> {{selected.street_number}}
  </p>
  <p>
    <strong>Steet name:</strong> {{selected.route}}
  </p>
  <p>
    <strong>City:</strong> {{selected.postal_town}}
  </p>
  <p>
    <strong>State:</strong> {{selected.administrative_area_level_2}}
  </p>
  <p>
    <strong>Area:</strong> {{selected.neighborhood}}
  </p>
  <p>
    <strong>Post Code:</strong> {{selected.postal_code}}
  </p>
  <p>
    <strong>Country:</strong> {{selected.country}}
  </p>
</div>
